/*========================
 common style starts here
==========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.btn_primary{
    padding: 15px 35px;
    color: #FFF;
    background: #FF900E;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
/*======================
 common style ends here
========================*/

/*=====================
 nav style starts here
=======================*/
#header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
.nav_container{
    display: flex;
    gap: 30px;
}
.nav_link{
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
}
/*===================
 nav style ends here
=====================*/

/*========================
 banner style starts here
==========================*/
.banner_title{
    color:  #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding-top: 100px;
}
.banner_descripsion{
    color:#727272;
    text-align: center;
    font-size: 1rem;
    padding: 32px 220px;
}
.banner_image{
    width: 100%;
    object-fit: fill;
    padding-top: 50px;
}
.banner_btn{
    text-align: center;
}

/*========================================
 responsive media quary for mobile devices
==========================================*/
@media screen and (max-width:575.98px) {
    .container{
        padding:0 20px;
    }
    #header{
        padding: 20px 0;
    }
    .nav{
        flex-direction: column;
        padding: 20px 0;
    }
    .nav_title{
        font-size: 1.5rem;
    }
    .nav_container{
        /* flex-direction: column; */
        gap: 20px;
        padding-top: 20px;
    }
    .banner_title{
        font-size: 2rem;
        padding-top: 20px;
    }
    .banner_descripsion{
        padding: 20px 0;
    }
    .banner_image{
        padding-top: 20px;
    }
    /* ========== */
}
/*========================================
 responsive media quary for teblet devices
==========================================*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .container{
        padding: 0 30px;
    }
    .nav_container{
        gap: 20px;
    }
    .banner_descripsion{
        padding: 30px 0;
    }
    /* =========== */
}